.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.save-cont {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saving-spinner {
  font-size: 14px;
  color: #ff6347;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.saving-spinner {
  font-size: 14px;
  color: #ff6347;
}

.align-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-grid {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: repeat(1, 0.5fr);
  }
}
